.App {
  border: 1px solid #afbdba;
  padding: 5px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 550px;
}

body {
  text-align: center;

  line-height: 45px;
  margin: 30px;
  border-color: rgb(80, 150, 135);
}

h1 {
  color: #000000;
  font-size: 30px;
  font-weight: 100;
  line-height: 32px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

li {
  color: #000000;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.forecast {
  border: 1px solid #000000;
  padding: 7px;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  position: relative;
  margin-left: 40px;
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}

.units {
  top: -19px;
}

.units .active {
  cursor: default;
  color: #0dbd97;
}
.units .active:hover {
  text-decoration: none;
}

.search-form {
  margin-bottom: 15px;
  color: #afbdba;
}

button:hover {
  cursor: pointer;
  background: #afbdba;
}

row {
  text-align: center;
}

col {
  text-align: center;
}

.card-title {
  font-size: smaller;
}
.App footer {
  font-size: x-small;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #268b7b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
